# Python virtual environment
venv/
.venv/
*/venv/
*/.venv/

# Bazel build system
bazel-*
bazel-bin/
bazel-out/
bazel-testlogs/
.bazelrc.user
rules*
MODULE.bazel.lock

# Outputs directory
outputs/
# Input data
input_data/